body{background-image: url('../img/fondo.png');}
.logo{height: 130px;}
.no-padding{padding: 0;}
.no-margin{margin: 0;}

.header{
	width: 100%;
	display: block;
	
}
.header .container{
	min-height: 80px;
	background-color: #005883;
	font: bold 16px sans-serif;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px 2px 10px 10px;
	-moz-border-radius: 2px 2px 7px 7px;
	-webkit-border-radius: 2px 2px 7px 7px;
	
}

.footer{
	width: 100%;
	display: block;
}
.footer .container{
	min-height: 80px; 
	color: #FFF; 
	background-color: #005883; 
	font: bold 16px sans-serif;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); 
	border-radius: 2px 2px 10px 10px;
	-moz-border-radius: 2px 2px 7px 7px;
	-webkit-border-radius: 2px 2px 7px 7px;
}

.page{background-color: #ffffff;}
